<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>JWT/JWK Verifier - Resource Server Sample</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}" />
    </head>
    <body>
        <h1>JWT/JWK Verifier - Resource Server Sample</h1>
        <p>This sample demonstrates JWT verification using JWK.</p>
        <p>Try accessing protected resources <a href="/messages" th:href="@{/messages}">here</a>.</p>
    </body>
</html>